.inside{
  
    background-color: rgb(61, 51, 51);
    height: 60vh;
    width: 46vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 29vw;
  margin-bottom: 5vh;
  margin-right: 1vw;

}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 20vw;
  margin-left: 5vw;
  padding-left: 3vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

@media screen and (max-width: 575px) {
  .inside{
  
    background-color: rgb(61, 51, 51);
    height: 61vh;
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 75vw;
  margin-bottom: 10vw;
  margin-right: 0vw;

}

#buttons{
  border: 2px solid red;
  margin-top: 50%;
  margin-right: 50%;
  
  
}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 53vw;
  margin-left: 11vw;
  padding-left: 3vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
}





@media screen and (min-width: 575px)  and (max-width:581px) {
  .inside{
  
    background-color: rgb(61, 51, 51);
    height: 61vh;
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 75vw;
  margin-bottom: 10vw;
  margin-right: 0vw;

}

#buttons{
  border: 2px solid red;
  margin-top: 50%;
  margin-right: 50%;
  
  
}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 53vw;
  margin-left: 11vw;
  padding-left: 3vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
}





@media screen and (min-width: 582px)  and (max-width:650px) {
  .inside{
  
    background-color: rgb(61, 51, 51);
    height: 60vh;
    width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 75vw;
  margin-bottom: 10vw;
  margin-right: 0vw;

}

#buttons{
  border: 2px solid red;
  margin-top: 50%;
  margin-right: 50%;
  
  
}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 57vw;
  margin-left: 10vw;
  padding-left: 9vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
}








@media screen and (min-width: 651px)  and (max-width:767px) {
  .inside{
    background-color: rgb(61, 51, 51);
    height: 60vh;
    width: 67vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 49vw;
    margin-bottom: 9vw;
    margin-left: 10vw;
}

#buttons{
  border: 2px solid red;
  margin-top: 50%;
  margin-right: 50%;
  
  
}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 57vw;
  margin-left: 10vw;
  padding-left: 9vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
}











@media screen and (min-width: 768px)  and (max-width:966px) {
  .inside{
    background-color: rgb(61, 51, 51);
    height: 60vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1vw;
    margin-top: 14vh;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 10px 5px #000000;
}



#indiin{
  width: 49vw;
    margin-bottom: 9vw;
    margin-left: 10vw;
}

#buttons{
  border: 2px solid red;
  margin-top: 50%;
  margin-right: 50%;
  
  
}

#userinput{
  margin-right: 11vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(71, 79, 83);
  font-size: large;
  font-weight: bold;
}



.submitbtn{
  background-color: black;
  border-radius: 200px 200px 200px 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

.submitbox{
  width: 57vw;
  margin-left: 12vw;
  padding-left: 12vw;
}

#text-top{
  -webkit-text-stroke: 3px rgb(17, 17, 17);
  background-color: rgb(38, 46, 79);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: rgb(219, 210, 210);
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
}




